<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/table-style.css">
    <title>Database Table Display</title>
</head>
    <body>
        <div class="container">
            <h1>Database Table Medior</h1>

            <div>
                <label for="tableSelect">Select Table:</label>
                <select id="tableSelect">
                    <option value="users">user</option>
                    <option value="movies">movie</option>
                    <option value="episodes">episode</option>
                    <option value="genres">genre</option>
                    <option value="languages">language</option>
                    <option value="series">series</option>
                    <option value="invitations">invitation</option>
                    <option value="profiles">profile</option>
                </select>
                <button id="loadTable">Load Table</button>
            </div>

            <div id="tableContainer"></div>

            <div id="formContainer">
                <h2>Add/Edit Entry</h2>
                <form id="crudForm">
                    <div id="formFields"></div>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>

        <script src="../js/medior-access.js"></script>
    </body>
</html>
